AddDefaultCharset utf-8

# Тут мы прописали, что если не найдет ничего в ссылке, то отправит на главную страницу.
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php